
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Environment variables
.env
.env.*

# Logs
logs
*.log
log.txt

# Express
coverage/

# PostgreSQL Docker
docker-compose.override.yml
docker-compose.local.yml
docker-compose.dev.yml
docker-compose.test.yml
docker-compose.prod.yml
pgdata/
postgres-data/
postgres-data/*
*.pid
*.seed
*.dump
*.sql
*.tar

